html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, serif;
}

blockquote{
    border-left-color: 5px rgb(221,221,221) ;
    font-style: italic;
}

blockquote span{
    display: block;
    text-align: right;
}

table{
    width: 100%;
}

table thead{
    background-color: rgb(182, 178, 178);
}

table .odd{
    background-color: rgb(224, 224, 224);
}